<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
<title>Fraudulent Call Recognition</title>
</head>

<body style="background: #000; font-family: sans-serif; text-align: center;">
<div class="login">
<!--<div class="form">-->
	<img src="{{url_for('static', filename='photos/fraudcall.png')}}" width="100" height="100">
	<h1 style="color:violet;">Fraudulent Call Recognition</h1>
	<form action="{{url_for('predict')}}" method="post">
		<input type="text" name="phoneNo" placeholder="The phone number" required="required" 	
					  style=" background-color: #303245;
  					  border-radius: 12px;
  					  border: 0;
  					  box-sizing: border-box;
  					  color: #eee;
                           	  font-size: 18px;
  					  height: 100%;
  					  outline: 0;
  					  padding: 10px 20px 0;
  					  width: 50%;"><p>
		<input type="text" name="calledNum" placeholder="Your phone number" required="required"
					  style=" background-color: #303245;
  					  border-radius: 12px;
  					  border: 0;
  					  box-sizing: border-box;
  					  color: #eee;
                           	  font-size: 18px;
  					  height: 100%;
  					  outline: 0;
  					  padding: 10px 20px 0;
  					  width: 50%;"><br>
		<span style="color:violet;">Is it repeating?</span><input type="radio" name="repeat"><br>
		
		<button type="submit" name="predict" class="btn">Predict the fraudulent phone call</button><p>
	</form>
	
		<form action="mailto:cheunghonyin@gmail.com">
            <button>send mail</button>
		</form>
	<br>
	<br>
	<!--<h4 style="color:violet; font-family: sans-serif; text-align: center;"> {{prediction_text}} </h4>-->
<!--</div>-->
</div>		
</body>
</html>

<!--<input type="text" name="start3" placeholder="start3" required="required"><br>
		<input type="text" name="+852" placeholder="+852" required="required"><br>
		<input type="text" name="repeat" placeholder="repeat" required="required"><br>
		<input type="text" name="more8" placeholder="more8" required="required"><br>
		<input type="text" name="repeat4" placeholder="1" required="required"><br> -->